/* ==UserStyle==
@name           wikipedia.org - Feb 2024
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    This user style will apply the google chivo font to everything page you visit 
                I have made some changes in it 
                this will not change the following 
                    - monospace font
                    - icons --> this theme is set up to ignore icons and dont mess up icons on most websites 
@author         heybilalazhar@gmail.com
==/UserStyle== */



@-moz-document domain("wikipedia.org") {
    /* Insert code here... */
		
	
	
	    :root

{
    /* 0 is for darkest 
    1 is for hard 
    higher values for hard  */


    /* 2.1 Dark theme color variables */
    --bg0-dh:       #1d2021;
    --bg-dark-new  :  #1F1E1D ; 
/*For basic text new color added  	 */
--text-normal :#ffd29c ;

    --shadow-bg:         #1d1b1a;
    
    --bg1-dark:       #3c3836;
    --bg-dark:        #282828;
    --bg2-dark:       #504945;
    --bg3-dark:       #665c54;
    --bg4-dark:       #7c6f64;
    --bg5-dark:       #928374;
    --bg_visual:      #503946;
    --bg_red:         #cc241d;
    --bg_green:       #98971a;
    --bg_blue:        #458588;
    --bg_yellow:      #d79921;
    --shadow:         #16181a;
    --shadow-var1:         #17191b;
    --shadow-cur:         #1a1b1d;

    --fg-dark:        #ebdbb2;
    --grey0-dark:     #7f897d;
    --grey1-dark:     #859289;
    --grey2-dark:     #9aa79d;

    --faded-red:     #fb4934;
    --faded-orange:  #fe8019;
    --faded-yellow:  #fabd2f;
    --faded-green:   #b8bb26;
    --faded-aqua:    #8ec07c;
    --faded-blue:    #83a598;
    --faded-purple:  #d3869b;

    --dim-red:       #cc241d;
    --dim-orange:    #d65d0e;
    --dim-yellow:    #d79921;
    --dim-green:     #98971a;
    --dim-aqua:      #689d6a;
    --dim-blue:      #458588;
    --dim-purple:    #b16286;


    /* 2.2 Light theme color variables */
    --bg0-light:     #f0edd8;
    --bg1-light:     #f6f1dd;
    --bg-light:      #fdf6e3;
    --bg2-light:     #f3efda;
    --bg3-light:     #edead5;
    --bg4-light:     #e4e1cd;
    --bg5-light:     #dfdbc8;
    --grey0-light:   #a4ad9e;
    --grey1-light:   #939f91;
    --grey2-light:   #879686;
    --shadow-light:  #3c474d20;


    --text-offwhite: #fbf1c7;
    --text-offyellowish: #f2e5bc;
    --text-white: #f9f5d7;
    --text-offwhite-faded: #ebdbb2;
    --text--faded: #d5c4a1;
    --text--veryfade: #928374;

    

    



    --bg_visual_light:      #eaedc8;
    --bg_red_light:         #fbe3da;
    --bg_green_light:       #f0f1d2;
    --bg_blue_light:        #e9f0e9;
    --bg_yellow_light:      #faedcd;

    --fg-light:       #5c6a72;

    --light-red:     #f85552;
    --light-orange:  #f57d26;
    --light-yellow:  #bf983d;
    --light-green:   #899c40;
    --light-aqua:    #569d79;
    --light-blue:    #5a93a2;
    --light-purple:  #b87b9d;

    --light-dim-red:    #f1706f;
    --light-dim-orange: #f39459;
    --light-dim-yellow: #e4b649;
    --light-dim-green:  #a4bb4a;
    --light-dim-aqua:   #6ec398;
    --light-dim-blue:   #6cb3c6;
    --light-dim-purple: #e092be;



 --dark-red: #9d0006;    /* faded_red: #9d0006 [red] 88 [9] 157-0-6 137-0-9 #890009 */
  --dark-green: #79740e;  /* faded_green: #79740e [green] 100 [10] 121-116-14 102-98-13 #66620d */
  --dark-yellow: #b57614; /* faded_yellow: #b57614 [yellow] 136 [11] 181-118-20 165-99-17 #a56311 */
  --dark-blue: #076678;   /* faded_blue: #076678 [blue] 24 [12] 7-102-120 14-83-101 #0e5365 */
  --dark-purple: #8f3f71; /* faded_purple: #8f3f71 [purple] 96 [13] 143-63-113 123-43-94 #7b2b5e */
  --dark-aqua: #427b58;   /* faded_aqua: #427b58 [aqua] 66 [14] 66-123-88 53-106-70 #356a46 */
  --dark-orange: #af3a03;


/* light colors */
  --interface-light0-hard: #f9f5d7; /* light0_hard: #f9f5d7 [h0] 230 [ ] 249-245-215 248-244-205 #f8f4cd */
  --interface-light0: #fbf1c7; /* light0: #fbf1c7 [fg0][bg0] 229 [0] 251-241-199 250-238-187 #faeebb */
  --interface-light0-soft: #f2e5bc; /* light0_soft: #f2e5bc [s0] 228 [ ] 242-229-188 239-223-174 #efdfae */
  --interface-light1: #ebdbb2; /* light1: #ebdbb2 [fg1][bg1] 223 [15] 235-219-178 230-212-163 #e6d4a3 */
  --interface-light2: #d5c4a1; /* light2: #d5c4a1 [fg2][bg2] 250 [ ] 213-196-161 203-184-144 #cbb890 */
  --interface-light3: #bdae93; /* light3: #bdae93 [fg3][bg3] 248 [ ] 189-174-147 175-159-129 #af9f81 */
  --interface-light4: #a89988; /* light4: #a89988 */


 
	
	
	}
	

	
	
/* Header 	 */
	
/* Header -> Header Top styles 	 */
	header.vector-header.mw-header{

		background : #282828 !important ; 
	}


	
/* Background of the Button 	 */
	div.vector-dropdown.vector-main-menu-dropdown.vector-button-flush-left.vector-button-flush-right{
		color : #F00 !important ; 
		background : #3C3836 !important ; 
		border-radius: 3rem !important ;
	}
	
	a.mw-logo{
		background-color  : #3C3836 !important ; 
		border-radius: 2rem !important ; 
	}
	
	
/*Wikipedia  	 */
/* 	img.mw-logo-wordmark{
		background: #282828 !important ; 
	} */
	
	

	body {
		background-color :#1D1B1A !important ; 
	}
	
	
	
	
	
	
	
	
/* 	Input placehodler */
/* Green Background for the input area 	 */
	
	
	
	input.cdx-text-input__input{
	color : #FFD29C !important ; 
		background-color:  #1D1B1A !important ; 
		border: solid #79740E !important ; 
		border-width: 0.1px !important ; 
	border-radius: 12rem !important ; 
	}
	
	
	
/* Search Wikipedia text 	 */
	input::placeholder{
		
	font-style :italic !important ;
	color : #928374 !important ; 
	font-size: 0.9rem !important ; 
	}
	
	
	
	
/* 	Ugly white BG at the back  */
	.cdx-search-input--has-end-button{
		border: none  !important ; 
		 background : none !important ; 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
	
	
/*Search Button on Top of Wikipedia  	 */
	.cdx-search-input__end-button.cdx-button {
		font-weight: 500 !important  ; 
    background-color: #282828 !important;
    color: #D5C4A1 !important;
    border-color: #98971A;
		border-radius: 2rem !important ; 
}
	
/* Hover for search button 	 */
		.cdx-search-input__end-button.cdx-button:hover{
		font-weight: 500 !important  ; 
    
    color: #FFD29C !important;
    border-color: #FB4934 !important;
		border-radius: 8px !important ; 
}
	

	
	
	
	
/*Left bar styles  	 */
	
/*Contents  	 */
	h2.vector-pinnable-header-label {
 
		color : #FFD29C !important ; 
		
		
		 font-size: 0.8rem !important;
    border-radius: 1rem !important;
		
}
	
	
	
	
/*Hide button  	 */
	.vector-pinnable-header-toggle-button {
    display: none;
    border: 0;
  
		font-family: "chivo" , monospace !important ; 
    background-color: #3C3836 !important;
    color: #FFD29C !important;
    cursor: pointer;
    text-align: left;
    font-size: 0.8rem;
    border-radius: 8px !important;
}
	
	
		.vector-pinnable-header-toggle-button:hover{
   
  
		font-family: "chivo" , monospace !important ; 
background-color: #8F3F71!important;
    color: #EBDBB2!important;
    cursor: pointer;
    text-align: left;
    font-size: 0.8rem;
    border-radius: 8px !important;
}

	
	
	
/*Side bar styles  for bg  	 */
	.vector-pinned-container {
    background-color: #16181A  !important;


border-radius: 1rem !important ; 
}
	
	
	
/*Side bar drop down  background icon  	 */
	span.vector-icon.vector-icon--x-small.mw-ui-icon-wikimedia-expand{
	
		background-color :  #504945 !important ; 
		border-radius: 3px !important ; 
	}
	
	
	
/*Left side bar lower gradient removed   */
		div.vector-sticky-pinned-container::after {

			
			background-image: none !important ;

}

/* Top side bar 	 */
	.vector-toc .vector-toc-list-item-active > .vector-toc-link .vector-toc-text, .vector-toc .vector-toc-level-1-active:not(.vector-toc-list-item-expanded) > .vector-toc-link .vector-toc-text, .vector-toc .vector-toc-list-item-active.vector-toc-level-1-active > .vector-toc-link .vector-toc-text{
		color : #79740E !important ; 
	}
	
/* 	Side bar styles  */
	.vector-toc .vector-toc-text {
   color : #79740E !important ;
		
		text-decoration:  none  !important ; 
}
	
	
/* Side bar Hover 	 */
		.vector-toc .vector-toc-text:hover{
   color : #B8BB26 !important ;
		
		 text-decoration:  #EBDBB2 underline !important ; 
}
	
	
	
	
	
	
	
	
	
	
	
/* RIGHT SIDE BAR */

	.uls-search {
    background-color: #D5C4A1 !important;
    padding: 5px 16px;
    border-bottom: 1px solid #D5C4A1 !important;
}
	
	
/* 	Language bar which is  insidelanguegsa */
.uls-languagefilter {
    background-color: #D5C4A1;
    border: 0;
    color: #D5C4A1 !important;
}
	
	
	
/* Language links 	 */
	a.autonym{
		color : #B8BB26 !important ; 
		background-color : #1D1B1A !important ; 
	}
	
/* Langugae backgotund side bear menu 	 */
	.uls-lcd {
    background-color: #1D1B1A;
    height: 20em;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    padding: 0 16px;
}
	
	
	#uls-settings-block.uls-settings-block--vector-2022.uls-settings-block--with-add-languages {
		color : red !important ; 
    background-color: #1D1B1A !important;
    border-top: 1px solid #FFD29C!important;
}
	
	
	
	
/* Main language links 	>> ALSO apply TO the search button */
	.cdx-button:enabled, .cdx-button.cdx-button--fake-button--enabled {

    color: #A89988 !important;
  
}
	
/* Hover inside the languae side baer 	 */
	button.cdx-button:hover{

    color: #8EC07C!important;
  
}

	
	

	
/* SIDE BAR info BOX 	 */
	
	
	th.infobox-above{
		background-color : #16181A ! important  ; 
		border-radius: 4rem !important ; 
	}
	
	
	
/* Side info box 	 */
	.infobox{
  	
		color : #D5C4A1 !important ; 
		background-color : #16181A !important ;
		border-radius: 1rem !important ; 
}
	
	
	
/* 	Little bars headings  */
	th.infobox-header{
		background-color : #282828 !important ; 
		border-radius: 6px !important ; 
	}
	
/* Icons heading 	 */
	th.infobox-label{
		color : #79740E !important ; 
	}
	
	
/* Updaed links behind under 	 */
	.mw-parser-output .ib-youtube-below {
    color: #689D6A !important;
}
	
/* 	Show button in the side bar  */
	.mw-collapsible-toggle-default .mw-collapsible-text {
    color: #FE8019 !important;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/* 	Mann Page background color  */
	
	.mw-page-container {
    min-width: 31.25em;
    max-width: 99.75rem;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    padding-top: 0.05px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
		 background-color: #16181A !important;
/*     background-color: #1A1B1D !important; */
}
	
	
	
	
	
	
	
	
	
/* 	span{
		color : #FE8019 !important ; 
	} */
	
	
	
/* Article talk and other buttons	 */
	.vector-menu-tabs .mw-list-item.vector-tab-noicon > a, .vector-page-toolbar-container .vector-dropdown.vector-tab-noicon > a, .vector-menu-tabs .mw-list-item .vector-dropdown-label, .vector-page-toolbar-container .vector-dropdown .vector-dropdown-label {
    color  : #928374 !important  ; 
}
	
	
/* From Wikipedia the Free encyclopedia text 	 */
	div#siteSub{
		color : #665C54 !important ; 
	} 
	
	
	
/* 	Bold Text  */
/* Text that is bold 	 */
	b{
		color : #D79921 !important ; 
	}
	
/* Paragraphs , text 	 */
	p {
		color : #D5C4A1 !important ; 
	}
	
	
	
	
	
	
/* 	Links  */
	a {
		color : #8EC07C !important ; 
		
		text-decoration: underline !important ; 
		text-decoration-color : #BDAE93 !important ; 
		font-weight: 500 !important ;
		line-height: 1rem !important ;
	}
	
	
	a:hover{
		color : #FB4934 !important ; 

		text-decoration: none  !important ; 
				text-decoration-color: none  !important; 
	}
	
	a:visited{
		color : #98971A !important ; 
		text-decoration: none !important ; 
	}
	
	
	
	
/* Front pages Joe Rogan Experience	 */
	h1{
		
		color : #79740E !important ; 
		font-family: "Chivo" ,  !important ; 
		font-weight: 800 !important ;
	}
	
	
	
	
	
	
/* Heading before the P thing 	 */
	span.mw-headline{
		color : #F57D26 !important ; 
	}

	
/* 	Brackers  */
	
span.mw-editsection-bracket{
 
    color: #FABD2F !important;
}
	
	
/* CItations  in the buttom 	 */
	cite, dfn {
    color : #F2E5BC !important ; 
}
	
	
/* 	Citations  */
	sup{
		font-family : "chivo" , sans-serif !important ;
		font-weight: 800 !important ; 
		color : #FABD2F !important ;
		border :solid #16181A !important ; 
		border-width: 1px !important ; 
		border-radius:  5px !important ;
	}
	
	
	
	
	
	
/*Caption under the iamge  	 */
	figure[typeof~='mw:File/Thumb'] > figcaption, figure[typeof~='mw:File/Frame'] > figcaption {
    border: 1px solid #FFD29C;
		border-radius: 5px !important ; 
    border-top: 0;
		color : #689D6A ! important; 
    background-color: #16181A;
    font-size: 88.4%;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
/* Hover menus 	inside  */
	
	div.mwe-popups-container{
 
		background-color  : #121210 !important ; 
	}

	
	
/* Menu  -> listen to the article 	 */
	.mw-parser-output .spoken-wikipedia {
    border: 1px solid #FABD2F !important;
		border-radius: 8px !important ; 
		color : #FFD29C !important ;
    background-color: #1D1B1A;
    margin: 0.5em 0;
    padding: 0.2em;
    line-height: 1.5em;
    font-size: 90%;
}
	
	
/* Lower add  on  the page 	 */
	.mw-parser-output .side-box {
    margin: 4px 0;
    box-sizing: border-box;
    border: 1px solid #FABD2F;
		border-radius : 7px !important  ; 
		color : #1D1B1A !important ;
    font-size: 88%;
    line-height: 1.25em;
    background-color: #FFD29C;
    display: flow-root;
}
	
/* 	category links  */
	.catlinks {
    background-color: #1D1B1A;
    margin-top: 1em;
    border: 1px solid #FABD2F;
		border-radius: 9px !important ; 
    padding: 5px;
    clear: both;
}
	
	
	
	
/* Italic text also applies to H1 */
	
/* 	i {
		color : #899C40 !important ; 
	} */
	
	
	
	
	
	
	
	
	
/* 	
	div.mw-content-container{
		width : 70rem !important ; 
	}
	
	 */
	
	
	
	
	
	
	
	
	
	
	
	
	


	
	
}
